body {
  background-color: #0000ff;
  color: #fff;
  padding-bottom: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
  text-align: center;
}

h5 {
  max-width: 300px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 15px;
  border-radius: 15px;
  background-color: #fff;
  color: #0000a7;
}

a {
  color: #fff;
}

img {
  border-radius: 50%;
  border: 10px solid #0000a7;
}

li {
  padding: 10px 0;
}

.jumbotron {
  text-align: center;
}

.left {
  float: left;
  margin-left: 150px;
}

.right {
  max-width: 40%;
  float: right;
  margin-right: 150px;
}

.left,
.right {
  padding-bottom: 50px;
}

#index {
  text-align: center;
}

#index ul {
  list-style: none;
}
